##
## Entries here refers to the Pages that are in my site.
## The `.isEmppty()` is helper from Velocity that will check to see if there are Pages.
##
#if (!$entries.isEmpty())
	##
	## Like WCM you can write HTML, CSS, and JS in your template.
	## In this case I would probably extract the CSS to the theme for this example
	## we'll just place our CSS here.
	##
	<style type="text/css" media="screen">
		.nav > li > a {
			display: inline-block;
		}
	</style>

	<nav class="example-navigation-menu-adt-container" id="navigation" role="navigation">
		<ul aria-label="$languageUtil.get($locale, 'site-pages')" class="list nav nav-nested" role="menubar">
			##
			## This is where the magic happens. This `entries` is iterated over and
			## we then have access to the Nav Item. The user interface for creating
			## ADTs will show you what Java Model you're using so that you can
			## see the methods that you can use.
			##
			#foreach ($nav_item in $entries)
				##
				## For this example we've created a macro, this will allow us to iterate over all the pages with fewer lines of code in our template
				##
				#buildNavigation(0, $nav_item)
			#end
		</ul>
	</nav>

	##
	## `buildNavigation`     builds out the navigation we want. We're going to use some of the new Lexicon markup for a collapsible navigation
	## @param index     {Int} to the level of navigation we are on. This would allow a theme developer to add specific styles for a level of navigation
	## @param nav_item     {Object} this is the page itself, from here I can call various methods to return information
	##

	#macro (buildNavigation $index $nav_item)
		#set ($nav_item_attr_has_popup="")
		#set ($nav_item_attr_selected="")
		#set ($nav_item_css_class = "nav-item nav-item-level-${index}")

		#if ($nav_item.isSelected())
			#set ($nav_item_attr_selected="aria-selected='true'")
			#set ($nav_item_css_class = $nav_item_css_class + " selected")
		#end

		#if ($nav_item.hasChildren())
			#set ($nav_item_attr_has_popup="aria-haspopup='true'")
		#end

		<li class="$nav_item_css_class" id="layout_$nav_item.getLayoutId()" $nav_item_attr_selected role="presentation">
			#if ($nav_item.hasChildren())
				#set ($newIndex = $index + 1)

				<a aria-labelledby="layout_$nav_item.getLayoutId()" href="$nav_item.getURL()" $nav_item_attr_has_popup $nav_item.getTarget() role="menuitem"><span>$nav_item.getName()</span></a>

				<a class="collapsed collapse-icon" data-toggle="collapse" href="#$nav_item.getLayoutId()">
					<span class="collapse-icon-closed icon-caret-right"></span>
					<span class="collapse-icon-open icon-caret-down"></span>
				</a>

				<div class="collapse" id="$nav_item.getLayoutId()">
					<ul class="nav child-menu child-menu-$index" role="menu">
						#foreach($nav_child in $nav_item.getChildren())
							#buildNavigation ( $newIndex, $nav_child )
						#end
					</ul>
				</div>
			#else
				<a aria-labelledby="layout_$nav_item.getLayoutId()" href="$nav_item.getURL()" $nav_item_attr_has_popup $nav_item.getTarget() role="menuitem"><span>$nav_item.getName()</span></a>
			#end
		</li>
	#end
#end